    <!-- Content: index.html -->
       <!-- Jumbotron -->
       <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h1>{{ page_title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="images/sample_image.png" alt="sample image" class="img-fluid img-thumbnail"  >
                </div>
                <div class="col-8">
                    <h2>{{ main_subject }}</h2>
                    <p>{{ main_comments }} </p>
                </div>
            </div>
   </div>

    <!-- Main -->
   <div class="row main">
       <p>Placeholder: Content Paragraph</p>
   </div> 
   <!-- Content: index.html: End -->